In [2]:
import pandas as pd

In [2]:
!wget https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/05-26-2022.csv

--2022-05-27 21:21:36--  https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/05-26-2022.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.

HTTP request sent, awaiting response...

200 OK
Length: unspecified [text/html]
Saving to: ‘05-26-2022.csv’

05-26-2022.csv          [<=>                 ]       0  --.-KB/s

05-26-2022.csv          [ <=>                ]   1.57M  --.-KB/s    in 0.1s

2022-05-27 21:21:36 (11.1 MB/s) - ‘05-26-2022.csv’ saved [1648233]

In [11]:
data=pd.read_csv('05-26-2022.csv')
size=len(data.index)
data.head(15)
data["Recovered"].sum()

0.0

In [7]:
data[data["Confirmed"]<data["Deaths"]]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
79,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,NaN,NaN,0,1,NaN,NaN,"Diamond Princess, Canada",NaN,NaN
176,NaN,NaN,Unknown,Colombia,2022-05-27 04:20:56,NaN,NaN,0,300,NaN,NaN,"Unknown, Colombia",NaN,NaN
367,NaN,NaN,NaN,"Korea, North",2022-05-27 04:20:56,40.3399,127.5101,1,6,NaN,NaN,"Korea, North",0.003879,600.000000
1383,90017.0,Unassigned,Illinois,US,2022-05-27 04:20:56,NaN,NaN,84,2433,NaN,NaN,"Unassigned, Illinois, US",NaN,2896.428571
1476,90018.0,Unassigned,Indiana,US,2022-05-27 04:20:56,NaN,NaN,0,27,NaN,NaN,"Unassigned, Indiana, US",NaN,NaN
1922,90024.0,Unassigned,Maryland,US,2022-05-27 04:20:56,NaN,NaN,0,38,NaN,NaN,"Unassigned, Maryland, US",NaN,NaN
2590,80036.0,Out of NY,New York,US,2022-05-27 04:20:56,NaN,NaN,0,467,NaN,NaN,"Out of NY, New York, US",NaN,NaN
2850,90039.0,Unassigned,Ohio,US,2022-05-27 04:20:56,NaN,NaN,0,5,NaN,NaN,"Unassigned, Ohio, US",NaN,NaN
2933,90040.0,Unassigned,Oklahoma,US,2022-05-27 04:20:56,NaN,NaN,1132,1670,NaN,NaN,"Unassigned, Oklahoma, US",NaN,147.526502